<h1>Application Number</h1>
<p>Name: <%= @pet_application.name %></p>
<p>Address: <%= @pet_application.street %>, <%= @pet_application.city %>, <%= @pet_application.state %>, <%= @pet_application.zip %></p>
<p>Description: <%= @pet_application.description %></p>

<%= link_to @pet.name, "/pets/:id" %>
