<h1>Application Number</h1>
<p>Name: <%= @pet_application.name %></p>
<p>Address:<%= @pet_application.street %></p>
<p><%= @pet_application.city %></p>
<p><%= @pet_application.state %></p>
<p><%= @pet_application.zip %></p>
<p><%= @pet_application.description %></p>
