<h1>Application Number: <%= @pet_application.id %></h1>
<p><strong>Name:</strong> <%= @pet_application.name %></p>
<p><strong>Address:</strong> <%= @pet_application.street %>, <%= @pet_application.city %>, <%= @pet_application.state %>, <%= @pet_application.zip %></p>
<p><strong>Description:</strong> <%= @pet_application.description %></p>
<%# <p><strong>Status:</strong> <%= @pet_application.status %>
<p><strong>Pets Applying For:</strong>
<p>Status: In Progress</p>
<ul>
  <% @pet_application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>