<h1>Application Number: <%= @pet_application.id %></h1>
<p><strong>Name:</strong> <%= @pet_application.name %></p>
<p><strong>Address:</strong> <%= @pet_application.street %>, <%= @pet_application.city %>, <%= @pet_application.state %>, <%= @pet_application.zip %></p>
<p><strong>Description:</strong> <%= @pet_application.description %></p>
<p><strong>Status:</strong> <%= @pet_application.status %></p>

<p><strong>Pets Applying For:</strong>
<ul>
  <% @pet_application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul><br>

<p><strong>Add a Pet to this Application:</strong></p>
<%= form_with url: "/pet_applications/#{@pet_application.id}", method: :get, data: { turbo: false } do |f| %>
  <%= f.label "Pet Name" %>
  <%= f.text_field :pet_search %>
  <%= f.submit "Search" %><br>
<% end %><br>

<% if @pets != nil %>
  <% @pets.each do |pet| %>
    <%= pet.name %> 
    <%= button_to "Adopt this Pet", "/pet_applications/#{@pet_application.id}/pets/#{pet.id}", method: :post %>
  <% end %>
<% end %><br>

<% if @pet_application.status == "In Progress" %>
  <p><strong>Submit this Application:</strong></p>
  <p>Why would you make a good owner for these pets?</p>
  <%= form_with url: "/pet_applications/#{@pet_application.id}", method: :patch, data: { turbo: false } do |f| %>
    <%= f.label "Reasons:" %>
    <%= f.text_area :reasons %>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
